<% include partials/header.ejs %>
    <div class="container greeting">
        <div class="jumbotron">
            <h1 id="husband-wife">- Carol and John -</h4>
            <h1 class="display-2">We're Engaged</h1>
            <p class="lead">Sep 01, 2023, 7:00 PM | St.Peter's Chapel</p>
            <button class="btn btn-primary rsvp">RSVP</button>
        </div>
    </div>
<% include partials/footer.ejs %>