<% include ./partials/header.ejs %>
    <h1 class="our-story-title">Our Story</h1>
    <img id="flower" src="https://static.wixstatic.com/media/f61af8_492d23c08e8342828e41a9872bf1b844~mv2.png/v1/fill/w_84,h_89,al_c,q_80,usm_0.66_1.00_0.01/f61af8_492d23c08e8342828e41a9872bf1b844~mv2.webp" alt="flower">
    <div class="container our-story-container">
        <div class="card">
            <img class="card-img-top" src="https://static.wixstatic.com/media/f61af8_bfc694092dd84d0390ca849dec394e20~mv2_d_6892_4583_s_4_2.jpg/v1/crop/x_333,y_368,w_2814,h_3078/fill/w_360,h_250,al_c,q_80,usm_0.66_1.00_0.01/f61af8_bfc694092dd84d0390ca849dec394e20~mv2_d_6892_4583_s_4_2.webp" alt="carol">
            <div class="card-body">
                <h5 class="card-title">Carol's Story</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis numquam labore delectus reiciendis, velit minus laborum omnis suscipit pariatur, praesentium, laudantium harum assumenda? Explicabo molestiae similique nam quidem facere dolorem.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://static.wixstatic.com/media/f61af8_dfb78165894a4575b4abd3133312b573~mv2_d_2332_1550_s_2.jpg/v1/crop/x_739,y_265,w_1501,h_1181/fill/w_360,h_250,al_c,q_80,usm_0.66_1.00_0.01/f61af8_dfb78165894a4575b4abd3133312b573~mv2_d_2332_1550_s_2.webp" alt="john">
            <div class="card-body">
                <h5 class="card-title">John's Story</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis numquam labore delectus reiciendis, velit minus laborum omnis suscipit pariatur, praesentium, laudantium harum assumenda? Explicabo molestiae similique nam quidem facere dolorem.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        
    </div>
<% include ./partials/footer.ejs %>