<% include ./partials/header.ejs %>
    <h1 class="title">Big Day</h1>
    <img id="flower" src="https://static.wixstatic.com/media/f61af8_492d23c08e8342828e41a9872bf1b844~mv2.png/v1/fill/w_84,h_89,al_c,q_80,usm_0.66_1.00_0.01/f61af8_492d23c08e8342828e41a9872bf1b844~mv2.webp" alt="flower">
        <div class="container our-story-container">
            <div class="container greeting">
                <div class="jumbotron">
                    <h1 id="husband-wife">- Carol and John -</h4>
                    <h1 class="display-2">We're Engaged</h1>
                    <p class="lead">Sep 01, 2023, 7:00 PM | St.Peter's Chapel</p>
                    <button class="btn btn-primary rsvp">RSVP</button>
                </div>
            </div>
        </div>
</div>
<% include ./partials/footer.ejs %>